

---

services:

  valkey:
    image: valkey/valkey:latest
    container_name: valkey-standalone
    ports:
      - 6379:6379
    profiles:
      - standalone
      - sentinel
      - replica
      - all
    command: valkey-server --save ""
    healthcheck:
      test: valkey-cli ping
      interval: 5s
      timeout: 5s
      retries: 5

  valkey-node-0:
    image: bitnamilegacy/valkey-cluster:8.1
    environment:
      - "VALKEY_NODES=valkey-node-0 valkey-node-1 valkey-node-2 valkey-node-3 valkey-node-4 valkey-node-5"
      - "ALLOW_EMPTY_PASSWORD=yes"
      - "VALKEY_RDB_POLICY_DISABLED=yes"
      - "VALKEY_AOF_ENABLED=no"
    ports:
      - 7000:6379
    profiles:
      - cluster
      - all

  valkey-node-1:
    image: bitnamilegacy/valkey-cluster:8.1
    environment:
      - "VALKEY_NODES=valkey-node-0 valkey-node-1 valkey-node-2 valkey-node-3 valkey-node-4 valkey-node-5"
      - "ALLOW_EMPTY_PASSWORD=yes"
      - "VALKEY_RDB_POLICY_DISABLED=yes"
      - "VALKEY_AOF_ENABLED=no"
      - "VALKEY_PRIMARY_HOST=localhost"
    ports:
      - 7001:6379
    profiles:
      - cluster
      - all

  valkey-node-2:
    image: bitnamilegacy/valkey-cluster:8.1
    environment:
      - "VALKEY_NODES=valkey-node-0 valkey-node-1 valkey-node-2 valkey-node-3 valkey-node-4 valkey-node-5"
      - "ALLOW_EMPTY_PASSWORD=yes"
      - "VALKEY_RDB_POLICY_DISABLED=yes"
      - "VALKEY_AOF_ENABLED=no"
    ports:
      - 7002:6379
    profiles:
      - cluster
      - all

  valkey-node-3:
    image: bitnamilegacy/valkey-cluster:8.1
    environment:
      - "VALKEY_NODES=valkey-node-0 valkey-node-1 valkey-node-2 valkey-node-3 valkey-node-4 valkey-node-5"
      - "ALLOW_EMPTY_PASSWORD=yes"
      - "VALKEY_RDB_POLICY_DISABLED=yes"
      - "VALKEY_AOF_ENABLED=no"
      - "VALKEY_PRIMARY_PORT_NUMBER=7002"
      - "VALKEY_PRIMARY_HOST=localhost"
    ports:
      - 7003:6379
    profiles:
      - cluster
      - all

  valkey-node-4:
    image: bitnamilegacy/valkey-cluster:8.1
    environment:
      - "VALKEY_NODES=valkey-node-0 valkey-node-1 valkey-node-2 valkey-node-3 valkey-node-4 valkey-node-5"
      - "ALLOW_EMPTY_PASSWORD=yes"
      - "VALKEY_RDB_POLICY_DISABLED=yes"
      - "VALKEY_AOF_ENABLED=no"
    ports:
      - 7004:6379
    profiles:
      - cluster
      - all

  valkey-node-5:
    image: bitnamilegacy/valkey-cluster:8.1
    environment:
      - "VALKEY_CLUSTER_REPLICAS=1"
      - "VALKEY_NODES=valkey-node-0 valkey-node-1 valkey-node-2 valkey-node-3 valkey-node-4 valkey-node-5"
      - "VALKEY_CLUSTER_CREATOR=yes"
      - "ALLOW_EMPTY_PASSWORD=yes"
      - "VALKEY_RDB_POLICY_DISABLED=yes"
      - "VALKEY_AOF_ENABLED=no"
      - "VALKEY_PRIMARY_PORT_NUMBER=7004"
      - "VALKEY_PRIMARY_HOST=localhost"
    ports:
      - 7005:6379
    profiles:
      - cluster
      - all

  sentinel:
    image: valkey/valkey:latest
    container_name: valkey-sentinel
    depends_on:
      valkey:
        condition: service_healthy

    entrypoint: "/usr/local/bin/valkey-sentinel /valkey.conf --port 26379"
    ports:
      - 26379:26379
    volumes:
      - "./dockers/sentinel.conf:/valkey.conf"
    profiles:
      - sentinel
      - all

    healthcheck:
      test: valkey-cli -p 26379 ping
      interval: 5s
      timeout: 5s
      retries: 5
